.App {
  text-align: center;
}

.Home {text-align: center;
font-size: 60rem;}

img{
  width: 70px;
  height: 90px;
  }

  .character-container {
  display: flex;
  gap: 20px;
  img{
    width: 30px;
    }
}
